.add-container-content {
    background-color: #D5D8DC;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 227px;
}

h5 {
    font-weight: 300;
    margin-bottom: 0.5em;
}