.container-content {
    background-color: #D5D8DC;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    width: 200px;
}

.container-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-avatar-container {
    background-color: #F2F3F4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 6em;
    padding-bottom: 5px;
}

.container-content > p {
    margin: 0px;
    font-size: 12px;
    color: #566573;

}

button {
    margin: 0.5em;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    border-radius: 0.5em;
    border: none;
}

h5 {
    margin: 0px;
    font-weight: 300;
}

.container-button {
    display: flex;
    flex-direction: row;

}

.container-button-delete {
    background-color: #F5B7B1;
    margin-left: 5px;
    border-radius: 5px;
}

.container-button-view {
    background-color: #A3E4D7;
    border-radius: 5px;
}

.card-user-name {
    margin-top: 5px;
    font-weight: 400;
}