.header-container {
    background-color: #EAECEE;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
}

.header-text {
    font-weight: 300;
}