.container {
    display: flex;
    justify-content: center;
}

.card-container {
    margin: 3em;
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(4, 1fr);
    /* align-items: center; */
    grid-gap: 5em;
}

.card-item {
    margin-left: 1em;
    margin-right: 1em;
}