.new-tenant-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-tenant-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EAECEE;
    margin: 2em;
    padding: 2em;
    width: 500px;
}

.new-tenant-container-header {
    font-weight: 400;
    margin-bottom: 1em;
}

.new-tenant-container-button {
    height: 40px;
}

.button-add {
    width: 120px;
}

.label {
    margin-right: 1em;
}