.view-container {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tenant-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 4em;
}

.view-avatar-container {
    background-color: #F2F3F4;
    width: 210px;
    height: 210px;
    border-radius: 6.5em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.tenant-details-container {
    display: flex;
    flex-direction: row;
    min-height: 620px;
}

.tenant-details-table {
    width: 600px;
}

.verticle-line {
    border-right: #ABB2B9 1px solid;
    height: 100%;
    margin-left: 5em;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
}

.button-group > button {
    height: 40px;
    font-weight: 500;
    border-radius: 5px;
}

.button-group-update {
    background-color: #82E0AA;
    margin-right: 1em;
    border-radius: 5px;
}

.button-group-add {
    border-radius: 5px;
    background-color: #4499FF;
}

.table-content {
    margin-left: 2em;
}

td > button {
    background-color: transparent;
    padding: 0px;
}

.device-table-header {
    text-align: center;
}

.device-table-action {
    width: 100px;
}